In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import bz2

# Exercise 1

## Personal solution

In [2]:
searches_data = pd.read_csv('/Users/tiago/Downloads/challenge/searches.csv', nrows=10000, sep='^')
searches_data.head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

In [3]:
searches = pd.DataFrame(searches_data)

searches_data = pd.read_csv('/Users/tiago/Downloads/challenge/searches.csv',
                            sep='^', usecols = [0])
searches_data.tail(1)

                Date
20390197  2013-10-13

Number of lines should be the last number of the index plus 2 (first line 
with the name of the columns + first line of the index which is 0).

So, the searches file should have 20,390,199 lines.

## Group solution

In [4]:
! wc -l /Users/tiago/Downloads/challenge/searches.csv

 20390198 /Users/tiago/Downloads/challenge/searches.csv

In [5]:
! wc -l /Users/tiago/Downloads/challenge/bookings.csv

 10000011 /Users/tiago/Downloads/challenge/bookings.csv

In [6]:
import bz2
bz_bookings = bz2.BZ2File('/Users/tiago/Downloads/bookings.csv.bz2')
line_list_bookings = bz_bookings.readlines()
len(line_list_bookings)

10000011

In [10]:
import bz2
bz_searches = bz2.BZ2File('/Users/tiago/Downloads/challenge 2/searches.csv.bz2')
line_list_searches = bz_searches.readlines()
len(line_list_searches)

20390199